@model IPagedList<MvcTIC_IT.ServiceRefWorld.empresa>

@{
    ViewBag.Title = "List";
}

@using PagedList.Mvc;
@using PagedList;
 
<html>
<head>
    <title>Paged List Demo</title>

    <link href="../../Content/PagedList.css" rel="stylesheet" type="text/css" />

</head>
<body>
<h2>World</h2>
 <br />
 <br />
 @Html.ActionLink(ViewRes.Empresa.criaempresa, "Create", "EmpresaWW")

 <br />
 <br />
<table>

    <tbody>



    @foreach (MvcTIC_IT.ServiceRefWorld.empresa p in Model)
    {
          

     <tr>
       <td>
             
        <br />

          <a href="@Url.Action("Details", "EmpresaWW", new { id = p.id })">@ViewRes.Empresa.nomedaempresa : @p.nome_da_empresa</a>
          <br />
      @*    @ViewRes.Empresa.url : @p.url*@
          @ViewRes.Empresa.contacto : @p.contacto
    
      
       </td>
     

       </tr>
            <tr>
       <td>
       
            @Html.ActionLink(ViewRes.Empresa.editar, "Edit", new { id=p.id }) |
            @Html.ActionLink(ViewRes.Empresa.editarfotos, "InsereFotos", new { id = p.id }) |
            @Html.ActionLink(ViewRes.Empresa.detalhes, "Details", new { id = p.id }) |
            @Html.ActionLink(ViewRes.Empresa.delete, "Delete", new { id=p.id })
              
        <br />
       </td>
       

       </tr>
 
    }
    </tbody>
</table>
 
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</body>
</html>

