@model MvcTIC_IT.ViewModels.PortugalViewModel

@{
    ViewBag.Title = "Editar";
}

<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>@ViewRes.Portugal.editar</h2>


<br />

@using (Html.BeginForm("Edit", "Alemanha", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
                 @{
 
              
             if (Model.titulo == null)
              {
                  Model.titulo = @ViewRes.Portugal.naotraduzido;
                  Model.descricao = @ViewRes.Portugal.naotraduzido;
              }
            
           }
       
       
       <div class="editor-label">
            @ViewRes.Portugal.empresa
        </div>
        <div class="editor-field">
            @Html.DropDownList("empresa_id", String.Empty)
            @Html.ValidationMessageFor(model => model.empresa_id)
        </div>

         <div class="editor-label">
            @ViewRes.Portugal.email
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

         <div class="editor-label">
            @ViewRes.Portugal.local_de_trabalho
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.local_de_trabalho)
            @Html.ValidationMessageFor(model => model.local_de_trabalho)
        </div>        
   
        <div class="editor-label">
            @ViewRes.Portugal.salario
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.salario)
            @Html.ValidationMessageFor(model => model.salario)
        </div>

        <div class="editor-label">
           @ViewRes.Portugal.titulo
        </div>
        <div class="editor-field">
         @Html.TextBoxFor(model => model.titulo, htmlAttributes: new { style = "color:blue; width:95%;",maxlength="200" })
         @*   @Html.EditorFor(model => model.titulo)*@
            @Html.ValidationMessageFor(model => model.titulo)
        </div>


        <div class="editor-label">
           @ViewRes.Portugal.descricao
        </div>
        <div class="editor-field">

            @Html.TextAreaFor(model => model.descricao, new { id = "editor1", @class = "ckeditor", cols = "60", rows = "10", name = "editor1" })           
            @Html.ValidationMessageFor(model => model.descricao)
        </div>

        <p>
            <input type="submit" value="@ViewRes.Portugal.gravar" />
        </p>
    </fieldset>
}
<br />
<br />
<div>
        @Html.ActionLink(ViewRes.Portugal.voltaparalista, "IndexMeuAdmin") |



          <a href="javascript:history.go(-1)">@ViewRes.Portugal.volta</a>
</div>


