@model MvcTIC_IT.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewRes.Account.formbelow</h2>
</hgroup>

<p class="message-info">
    @ViewRes.Account.newpasswords @Membership.MinRequiredPasswordLength @ViewRes.Account.caracteres 
</p>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true,ViewRes.Account.passsemsuccesso)

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @ViewRes.Account.oldpassword
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </li>
            <li>
                @ViewRes.Account.newpassword    
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li>

                @ViewRes.Account.confirmpassword      
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="@ViewRes.Account.changepassword" />
    </fieldset>
}
