@model MvcTIC_IT.ViewModel.EmailViewmodel

@{
    ViewBag.Title = "RecuperarEmailPassword";
}

<h3>@ViewRes.Account.recuperaporemail</h3>

 @using (Html.BeginForm())
 {
     
             <div>
            <fieldset>
                <legend></legend>
                
                <div class="editor-label">
                  Email
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.email)
                    @Html.ValidationMessageFor(m => m.email)
                </div>                 
                <p>
                    <input type="submit" value="@ViewRes.Account.send" />
                </p>
                 <p><strong>@ViewData["sucesso"]</strong></p>
                 <p><strong>@ViewData["erromail"]</strong></p>
                  <p><strong>@ViewData["erro"]</strong></p>
            </fieldset>
        </div>
     
     

 }